{% extends 'layout.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<div class="s003">
  <form action="/result" method="POST">
    {% csrf_token %}
    <div class="inner-form">
      <div class="input-field first-wrap">
        <div class="input-select">
          <select data-trigger="" name="choice">
            <option>From</option>
            <option>Text</option>
            <option>Keywords</option>
          </select>
        </div>
      </div>
      <div class="input-field second-wrap">
        <input
          id="search"
          type="text"
          name="document"
          placeholder="Enter Keywords?"
        />
      </div>
      <div class="input-field third-wrap">
        <button class="btn-search" id="search-btn" type="submit">
          <svg
            class="svg-inline--fa fa-search fa-w-16"
            aria-hidden="true"
            data-prefix="fas"
            data-icon="search"
            id="search-icon"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="input-field fourth-wrap">
        <div class="input-select">
          <select data-trigger="" name="year">
            <option>Year</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
          </select>
        </div>
      </div>
      <div class="input-field fourth-wrap fifth-wrap">
        <div class="input-select">
          <select data-trigger="" name="month">
            <option>Month</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
      </div>
    </div>
    <p class="text-muted mt-3" align="center" style="font-size: medium;">If you only want to classify your given text, you don't need to select a year or a month.</p>
    <p class="text-muted" align="center" style="font-size: medium;">Also selecting 'Keywords' may take a few seconds, so please wait. If you don't specify a month or a year the results will not be specific</p>
  </form>
</div>

<style>
  .s003 {
    height: 66vh;
  }
</style>
{% endblock %}
