{% extends 'layout.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<form
  action="/train/result"
  method="POST"
  enctype="multipart/form-data"
  class="form-horizontal analyze-form"
>
  {% csrf_token %}
  <div class="con">
    <header class="head-form">
      <h2>Train</h2>
      <p>Assign your parameters here</p>
    </header>
    <div class="form-group">
      <label for="name" class="col-xs-12 control-label"
        >Training dataset:
      </label>
      <div class="">
        <input
          type="file"
          name="csv_file"
          id="csv_file"
          required="True"
          class="form-control form-input"
          style="width: 400px"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="column-1" class="col-xs-12 control-label">
            Text column name:
          </label>
          <input
            type="text"
            name="column_1"
            id="column_1"
            required="True"
            class="form-control form-input"
          />
        </div>
        <div class="col-md-6">
          <label for="column-2" class="col-xs-12 control-label">
            Target column name:
          </label>
          <input
            type="text"
            name="column_2"
            id="column_2"
            required="True"
            class="form-control form-input"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cluster-count" class="col-xs-12 control-label">
            Test size:
          </label>
          <input
            type="text"
            name="test-size"
            placeholder="ex. 0.2"
            id="test-size"
            required="True"
            class="form-control form-input"
          />
        </div>
        <div class="col-md-6">
          <label for="cluster-count" class="col-xs-12 control-label">
            Max Features:
          </label>
          <input
            type="text"
            name="max_features"
            placeholder="ex. 20000"
            id="max_features"
            required="True"
            class="form-control form-input"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label for="algo">Algorithm: </label>
          <select name="algo" id="algo">
            <option value="mnb">Multinomial Naive Bayes</option>
            <option value="lrg">Logistic Regression</option>
            <option value="svc">Support Vector Machine</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="algo">Transformer: </label>
          <select name="transf" id="transf">
            <option value="tfidf">TF-IDF Vectorizer</option>
            <option value="count">Count Vectorizer</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 mt-3" style="margin-bottom: 10px">
        <button class="btn btn-secondary">
          <span class="glyphicon glyphicon-upload"></span>Train
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
